<div class='input input__{{type}}'>
  <div class='input__ico'>
    <img src='search.svg' alt='search' />
  </div>
  <input
    type='{{type}}'
    name='{{name}}'
    value='{{value}}'
    class='input__element'
    placeholder='{{placeholder}}'
  />
</div>
