{{#if activeChat}}
  <div class='container-chats__content'>
    <div class='chat'>
      <div class='chat__header'>
        <div class='profile hover-disabled'>
          <div class='profile__avatar'>
            <img width='64px' height='64px' src={{#if avatar}}{{avatar}}{{else}}ellipse.svg{{/if}} alt='avatar'>
          </div>
          <div class='profile__name'>
            {{activeChat.title}}
          </div>
        </div>
        <div class='menu-profile'>
          <button class='menu-profile__btn'>
            <img class='hover-disabled' width='27px' height='45px' src='btnMenu.svg' alt='btn'>
          </button>
          {{#> Menu type="top" }}
            {{{ MenuElement modal="addUser" icon="menuIcons/add.png" onClick=onModal label="Add user" }}}
            {{{ MenuElement modal="removeUser" icon="menuIcons/del.png" onClick=onModal label="Remove user" }}}
          {{/Menu}}
        </div>
      </div>
      <div class='chat__body'>
        {{{ Messages messages=messages activeChat=activeChat chatUsers=chatUsers user=user }}}
      </div>
      <div class='chat__footer'>
        <div class='message-control'>
          <div class='message-control__attachments'>
            <button class='message-control__attachments-btn'>
              <img class='hover-disabled' width='44px' height='44px' src='attachments.svg' alt='btn'>
            </button>
            {{#> Menu type="bottom" }}
              {{{ MenuElement icon="menuIcons/photo.png" label="Photo or Video" }}}
              {{{ MenuElement icon="menuIcons/file.png" label="File" }}}
              {{{ MenuElement icon="menuIcons/circle.png" label="Location" }}}
            {{/Menu}}
          </div>
          <div class='message-control__input'>
            {{{ FormSend ref="form" onSend=onSend }}}
          </div>
          <div class='message-control__send'>
            {{{ ButtonSend buttonType='submit' formName='formMessage' }}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{else}}
  <div class='container-chats__content container-chats__content--center'>
    <span>Select a chat room to send a message</span>
  </div>
{{/if}}
