<div class="container-chats">
  {{{ Side close=true }}}
  <div class='container-chats__content container-chats__content--top'>
    {{#> Settings title="Profile" }}
      {{{ SettingsPreview modal="modalAvatar" image=user.avatar onClick=onModal name=user.first_name }}}
      {{> SettingsElement type="text" label="Email" value=user.email }}
      {{> SettingsElement type="text" label="Login" value=user.login }}
      {{> SettingsElement type="text" label="Name" value=user.first_name }}
      {{> SettingsElement type="text" label="Surname" value=user.second_name }}
      {{> SettingsElement type="text" label="Name in chat" value=user.display_name }}
      {{> SettingsElement type="text" label="Phone" value=user.phone }}
      <div class='settings__links'>
        {{{ SettingsButtonElement label="Change data" page="/profile" }}}
        {{{ SettingsButtonElement label="Change password" page="/password" }}}
        {{{ SettingsButtonElement onClick=onExit label="Exit" }}}
      </div>
    {{/Settings}}
  </div>
  {{{ ModalAvatar ref='modalAvatar' }}}
</div>
