<div class='menuElement' page='{{page}}'>
  <img
    width='22px'
    class='menuElement__icon hover-disabled'
    src='{{icon}}'
    alt='{{label}}'
  />
  <div class='menuElement__label' page='{{page}}'>{{label}}</div>
</div>