<div class='container-chats'>
  {{{SideConnect onModal=onModal ref='side'}}}
  {{{ChatConnect onModal=onModal ref='chat'}}}
  {{{ModalAddUser ref='modalAddUser'}}}
  {{{ModalAddChat ref='modalAddChat'}}}
  {{{ModalRemoveUser ref='modalRemoveUser'}}}
</div>
