<div class='container-chats'>
  {{{Side activeChat=activeChat user=user chats=chats onModal=onModal ref='side'}}}
  {{{Chat activeChat=activeChat user=user ref='chat' onModal=onModal chatUsers=chatUsers messages=messages}}}
  {{{ModalAddUser ref='modalAddUser'}}}
  {{{ModalAddChat ref='modalAddChat'}}}
  {{{ModalRemoveUser ref='modalRemoveUser'}}}
</div>
