<div class="container-chats">
  {{{ Side close=true }}}
  <div class='container-chats__content container-chats__content--top'>
    {{#> Settings title="Change data" }}
      {{#> FormAuth }}
        {{{ SettingsEditElement type="password" name="old_password" label="Old password" value="12345678" ref="old_password" validate=validators.password }}}
        {{{ SettingsEditElement type="password" name="new_password" label="New password" value="12345678" ref="new_password" validate=validators.password }}}
        {{{ SettingsEditElement type="password" name="new_password_repeat" label="Repeat the new password" value="12345678" ref="new_password_repeat" validate=validators.empty }}}
        <div class='settings__buttons'>
          {{{ Button label="Save" type="primary" typeButton="submit" onClick=onSave }}}
          {{{ Button label="Cancel" type="link" page="profile" }}}
        </div>
      {{/FormAuth}}
    {{/Settings}}
  </div>
</div>
